<div class="container col-md-10">
  <div class="card custom-card">
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="grabar()" class="form-container">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="idEquipoPer" class="form-label">ID del Equipo</label>
              <div class="input-group">
                <input type="text" class="form-control" id="idEquipoPer" formControlName="idEquipoPer">
                <span class="input-group-text">
                  <i class="fas fa-id-card"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="fechaPrestamo" class="form-label">Fecha de Prestamo</label>
              <div class="input-group">
                <input type="date" class="form-control" id="fechaPrestamo" formControlName="fechaPrestamo">
                <span class="input-group-text">
                  <i class="fas fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="fechaDevolucion" class="form-label">Fecha de Devolución</label>
              <div class="input-group">
                <input type="date" class="form-control" id="fechaDevolucion" formControlName="fechaDevolucion">
                <span class="input-group-text">
                  <i class="fas fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="idUsuarioPrestaPer" class="form-label">ID del Usuario que Presta</label>
              <div class="input-group">
                <input type="text" class="form-control" id="idUsuarioPrestaPer" formControlName="idUsuarioPrestaPer">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="idUsuarioSolicitaPer" class="form-label">ID del Usuario que Solicita</label>
              <div class="input-group">
                <input type="text" class="form-control" id="idUsuarioSolicitaPer"
                  formControlName="idUsuarioSolicitaPer">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="observaciones" class="form-label">Observaciones</label>
              <div class="input-group">
                <input type="text" class="form-control" id="observaciones" formControlName="observaciones">
                <span class="input-group-text">
                  <i class="fas fa-comment"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="estadoEquipo" class="form-label">Estado del Equipo</label>
              <div class="input-group">
                <input type="text" class="form-control" id="estadoEquipo" formControlName="estadoEquipo">
                <span class="input-group-text">
                  <i class="fas fa-check-circle"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="aprobado" class="form-label">Aprobado</label>
              <div class="input-group">
                <input type="text" class="form-control" id="aprobado" formControlName="aprobado">
                <span class="input-group-text">
                  <i class="fas fa-check"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary me-2" [disabled]="formulario.invalid">
            <i class="fas fa-save"></i> Grabar
          </button>
          <button type="button" class="btn btn-secondary" (click)="cerrarFormulario()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>